@font-face {
    font-family: "Raleway";
    src: url(/img/Raleway-Regular.ttf);
}

.fadeSlideIn {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}

.fadeSlideOut {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.invisible {
    opacity: 0;
}

#slideTxt {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    margin: 10px 10px 0px 10px;
}

#slideImg {
    margin: 10px 10px 0px 10px;
}

#slideDiv {
    width: 140px;
}