<!DOCTYPE html>
<html ng-app>
<head>
    <title></title>
    <script src="../lib/angular/angular.min.js"></script>
    <script src="../lib/controller.js"></script>
    <link rel="stylesheet" href="../css/cssreset.css">
    <link rel="stylesheet" href="../css/slideshow.css">
</head>
<body ng-controller="SlideshowCtrl">
<div id="slideDiv" ng-click="goToURL()">

    <ul>
        <li  ng-class="slideClassVar" ng-repeat="slide in slidearray | filter:query">
            <img id="slideImg" ng-src="{{slide.img}}" alt=""/>
            <p id="slideTxt">{{slide.text}}</p>
        </li>
    </ul>
</div>
</body>
</html>